/* panel.css */

.admin-panel-container {
    text-align: center;
    background-color: #737272;
    color: black; /* Change the text color to black */
    padding: 20px;
  }
  
  .admin-panel-title {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
  
  .order-item {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 10px; /* Reduce padding */
    margin: 20px 0;
    box-shadow: 2px 2px 5px #aaa;
  }
  
  .order-info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .order-text {
    margin: 5px 0;
    font-size: 1rem;
  }
  
  .order-list {
    list-style-type: none;
    padding: 0;
  }
  
  .order-total-price {
    font-weight: bold;
    margin: 10px 0;
    font-size: 1.2rem;
  }
  
  